body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    font-family: Arial, sans-serif;
}

.calculator {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

#display {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    font-size: 28px;
    text-align: right;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
    background: #f1f1f1;
    transition: 0.3s;
}

button:hover {
    background: #4facfe;
    color: white;
    transform: scale(1.05);
}

.clear {
    background: #ff4d4d;
    color: white;
}
.operator{
    background:#4facfe;
    color:white;
}

.equal{
    background:#28a745;
    color:white;
}

.clear{
    background:#ff4d4d;
    color:white;
}
.delete {
    background: orange;
    color: white;
}

.delete:hover {
    background: darkorange;
}